
@{
    ViewBag.Title = "Index";
    var F = Html.F();
}

@section script{
    <script>
        function btnDownload() {
            window.location.href = '@Url.Action("DownloadEmptyDormitory")';
        }
    </script>
}

@section body{
<form id="fileForm" style="display:none;" method="post" enctype="multipart/form-data">
    <input type="file" id="fileupload" name="Upload" />
</form>
    


    @(F.Panel()
        .ShowBorder(false)
        .ShowHeader(false)
        .IsViewPort(true)
        .Layout(LayoutType.HBox)
        .Items(
            F.Panel()
                .Hidden(true)
                .ContentEl("#fileForm"),
            F.Tree()
                .ID("treeDorm")
                    .Width(200)
                    .ShowHeader(true)
                    .EnableCollapse(false)
                    .Title("宿舍")
                    .Toolbars(
                        F.Toolbar()
                            .Items(
                                F.Button()
                                    .ID("btnAdd")
                                    .Text("新增"),
                                F.Button()
                                    .ID("btnDelete")
                                    .Text("新增")
                            )
                    )
                    .Nodes((TreeNode[])ViewBag.treeDorm),
            F.Grid()
                .EnableCollapse(true)
                .Title("宿舍信息表")
                .BoxFlex(1)
                .Margin(0)
                .ShowHeader(true)
                .ShowBorder(true)
                .ID("gridDorm")
                .EnableCheckBoxSelect(true)
                .AllowPaging(true)
                .PageSize(20)
                .DataIDField("ID")
                .DataTextField("Name")
                .Toolbars(
                    F.Toolbar()
                        .ID("btngroup")
                        .Items(
                            F.Button()
                                .ID("btnAdd")
                                .Text("新增")
                                .Listener("click", "btnAdd();"),
                            F.ToolbarSeparator()
                                .MarginLeft(10)
                                .MarginRight(10),
                            F.Button()
                                .ID("btnDelList")
                                .Text("删除"),
                            F.ToolbarSeparator()
                                .MarginLeft(10)
                                .MarginRight(10),
                            F.FileUpload()
                                .ID("fileExcel")
                                .ButtonOnly(true)
                                .ButtonText("导入")
                                .OnFileSelected(Url.Action("getExcel"), "fileExcel"),
                            F.Button()
                                .ID("btnDownload")
                                .Text("下载空白模板")
                                .Listener("click","btnDownload();")
                        )
                )
                .Columns(
                    F.RowNumberField()
                        .TextAlign(TextAlign.Center),
                    F.RenderField()
                        .HeaderText("编号")
                        .DataField("DormID")
                        .TextAlign(TextAlign.Center)
                        .Width(80)
                        .Hidden(true),
                    F.RenderField()
                        .HeaderText("名称")
                        .DataField("FJH")
                        .TextAlign(TextAlign.Center)
                        .Width(80),
                    F.RenderField()
                        .HeaderText("位置")
                        .DataField("Region")
                        .TextAlign(TextAlign.Center)
                        .Width(130),
                    F.RenderField()
                        .HeaderText("宿舍类型")
                        .DataField("SSLX")
                        .TextAlign(TextAlign.Center)
                        .Width(100),
                    F.RenderField()
                        .HeaderText("住宿费用")
                        .DataField("ZSFY")
                        .TextAlign(TextAlign.Center)
                        .Width(80),
                    F.RenderField()
                        .HeaderText("总床位")
                        .DataField("CWS")
                        .TextAlign(TextAlign.Center)
                        .Width(80),
                    F.RenderField()
                        .HeaderText("可用床位")
                        .DataField("KYCWS")
                        .TextAlign(TextAlign.Center)
                        .Width(80),
                    F.RenderField()
                        .HeaderText("学生性别")
                        .DataField("Sex")
                        .TextAlign(TextAlign.Center)
                        .Width(80),
                    F.RenderField()
                        .HeaderText("入住单位")
                        .DataField("DeptID")
                        .TextAlign(TextAlign.Center)
                        .Width(80),
                    F.RenderField()
                        .HeaderText("床位1")
                        .DataField("Stu_01")
                        .TextAlign(TextAlign.Center)
                        .Width(80),
                    F.RenderField()
                        .HeaderText("床位2")
                        .DataField("Stu_02")
                        .TextAlign(TextAlign.Center)
                        .Width(80),
                    F.RenderField()
                        .HeaderText("床位3")
                        .DataField("Stu_03")
                        .TextAlign(TextAlign.Center)
                        .Width(80),
                    F.RenderField()
                        .HeaderText("床位4")
                        .DataField("Stu_04")
                        .TextAlign(TextAlign.Center)
                        .Width(80),
                    F.RenderField()
                        .HeaderText("床位5")
                        .DataField("Stu_05")
                        .TextAlign(TextAlign.Center)
                        .Width(80),
                    F.RenderField()
                        .HeaderText("床位6")
                        .DataField("Stu_06")
                        .TextAlign(TextAlign.Center)
                        .Width(80),
                    F.RenderField()
                        .HeaderText("床位7")
                        .DataField("Stu_07")
                        .TextAlign(TextAlign.Center)
                        .Width(80),
                    F.RenderField()
                        .HeaderText("床位8")
                        .DataField("Stu_08")
                        .TextAlign(TextAlign.Center)
                        .Width(80),
                    F.RenderField()
                        .HeaderText("床位9")
                        .DataField("Stu_09")
                        .TextAlign(TextAlign.Center)
                        .Width(80),
                    F.RenderField()
                        .HeaderText("床位10")
                        .DataField("Stu_10")
                        .TextAlign(TextAlign.Center)
                        .Width(80),
                    F.RenderField()
                        .HeaderText("备注")
                        .DataField("Remark")
                        .TextAlign(TextAlign.Center)
                        .Width(150)
                )
                .DataSource(ViewBag.gridDorm)
        )
    )
}

